[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==2.2.28"
psycopg2-binary = "*"
django-allauth = "*"
factory-boy = "*"
faker = "*"
coverage = "*"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7.4"
