/*
layout contains container, grid system
*/

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
aside {
  grid-area: aside;
}

body {
  display: grid;
  grid-template-areas:
    "header header  header"
    "nav main  aside"
    "nav footer aside";
  grid-template-columns: 15vw 1fr 15vw;
  grid-template-rows: 25vh 1fr 5vh;
  min-height: 100vh;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-areas:    "header"
                                "nav"
                                "main"
                                "aside"
                                "footer";
        grid-template-columns: 100%;
        grid-template-rows: 25vh 10% 1fr 0px 5vh;
    }
}